.imgDeFundo {
    width: 100%;
}

.txtBanner {
    position: absolute;
    width: 100%;
    top: 35%;
    
    font-family: pacifico, cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 81px;
    line-height: 142px;
    text-align: center;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}